@charset "utf-8";
/* CSS Document */

body{
	
	background: linear-gradient(
			 145deg,
			 #242424 20%,
			 #feb1a1 0%,
			 #feb1a1 25%,
			 #ef458c 0%,
			 #ef458c 35%,
			 #fcd5e8 0%,
             #fcd5e8 40%,
             #fec1c6 0%,
             #fec1c6 44%,
             #fcd5e8 0%,
             #fcd5e8 60%,
             #fcb393 0%,
             #fcb393 75%,
			 #ffffff 0%
			 );
            
			background-size: 100%;
			background-repeat:repeat; 
			background-attachment:fixed;
			font-family: Arial, sans-serif;
	
}

body::after{
	
	content: "";
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    background: inherit;
    filter: blur(0.5px);
    z-index: -1;
	
}

.HeadDiv{
	
	height: 120px;
	width: auto;

	
}
h3{
	
	text-align: left;
	margin-left: 10px;
	
}

.title-wrapper{
	text-align: center;
	width:180px; 
	margin:0 auto;
	border-bottom: 2px solid;
	background: hsla(0,0%,100%,1.00);
}

.splitdiv{
	height :60px; 
	margin:0 auto;
}


.CoverAddUsr{
	text-align:center;
	width:450px;
	height:250px;  
	margin:0 auto;
	border: 4px  ridge #fde4dd;
	background: hsla(0,0%,100%,1.00);
}
.addusrTable{
	width:100%;
	height: 100%;
	background:#fde4dd;
	
}
.CoverAddUsr .addusrTable .memberInput{
	font-size:16px;
	width: 90%;
}


.CoverAddUsr .addusrTable .memberidInput{
	font-size:16px;
	width: 90%;
}


.SubmitBtn{
	width: 80px;
	height: 30px;
	border-radius: 20px;
	outline:none;
}

@media screen and (max-width:500px){
	.CoverAddUsr{
		width:97%;
		
	}
	
}

