@charset "utf-8";
/* CSS Document */


body{


	background: linear-gradient(
			 25deg,
			 
			 #E91E63 0,
			 #ffffff 100%
				
			 );

			background-size: 100%;
			background-repeat:repeat; 
			background-attachment:fixed;
			font-family: Arial, sans-serif;
}


.HeadDiv{
	
	height: 120px;
	width: auto;
	
	
}


	
	
	
	.cover{
		height: 500px; 
		width: 600px;
		margin:0 auto;
		border-style: ridge;
		border-color:rgba(80,143,215,1.00); 
		background: linear-gradient(
			 205deg,
			 
			 #ddf9fc 0,
			 #ffffff 100%
				
			 );
			
	}

	.cover .ticover{
		height: 37px; 
		width: 100%;
			border-bottom:1.5px #DDE7F9 solid;
		display:table
	}

.cover .AddUserDiv{
	
	height: 37px; 
		width: 100%;
			border-bottom:1.5px #DDE7F9 solid;
		
	
}

.cover .AddUserDiv .AddUserBtnDiv{
	height: 100%; 
		width: 100%;
			
		display:table
	
}

	.cover .AddUserDiv .AddUserBtnDiv .btnaddnew{
			
			vertical-align: middle; 
			margin-left: 10px;
			font-size:16px;
			width: 100px; 
			height:30px;
			background:white;
			border-radius: 20px;
	        outline:none;
		}
	

	
	.headul{
		height: 100%;
		width: 100%;
		position: relative;
		
		

	}
		.adduserli{
					text-indent: 0.3em;
			
			
			
			
		}
	
	.noli{
		display: inline-block;
		height: 100%;
		width: 10%;
		text-align:justify;
		text-justify: inter-ideograph; 
		text-indent: 0.3em;

	}
	
	.noli:hover{
		
		background: #daebfe
	}
	
	.nameli{
		display: inline-block;
		height: 100%;
		width:1px;
		text-align:justify;
		text-justify: inter-ideograph; 
		text-indent: 0.3em;

	}

	.nameli:hover{
		
		background: #daebfe
		
	}

	.branchli{
		display: inline-block;
		height: 100%;
		width:20%;
		text-align:justify;
		text-justify: inter-ideograph; 
		text-indent: 0.3em;


	}

	.branchli:hover{
		
		background: #daebfe
	}

	
	.Classli{
		display: inline-block;
		height: 100%;
		width: 28%;
		
		text-align:justify;
		text-justify: inter-ideograph; 
		text-indent: 0.3em;

	}
	.Classli:hover{
		
		background: #daebfe;
		
	}
	

	
	.contul{
		height: 45px; 
		width: 100%;
		border-bottom:1.5px #DDE7F9 solid;
		position: relative;
	}
	
	.contul:hover{
		border-bottom:1.5px #DDE7F9 solid;
		background: #CBEDFF;
		
	}
	
	.cnoli{
		display: inline-block;
		height: 100%;
		width: 10%;
		text-align:justify;
		text-justify: inter-ideograph; 
		text-indent: 0.3em;

	}
	
	.cnameli{
		display: inline-block;
		height: 100%;
		width: 42%;
		text-align:justify;
		text-justify: inter-ideograph; 
		text-indent: 0.3em;

	}

	.cbranchli{
		display: inline-block;
		height: 100%;
		width: 20%;
		text-align:justify;
		text-justify: inter-ideograph; 
		text-indent: 0.3em;
	}
	
	.cclassli{
		display: inline-block;
		height: 100%;
		width: 28%;
		text-align:justify;
		text-justify: inter-ideograph; 
		text-indent: 0.3em;

	}
	
	.contentcover{
		height: 423px;
		width: auto;
		overflow-y:auto;
	}
	
	.cnameli span { 
   
  
   cursor:pointer; 
   }
	


	
	span{
		position: absolute;
        top: 50%;
        transform: translateY(-50%);
	}
	::-webkit-scrollbar{
		width: 12px;
    	height: 10px;
	}
	
	::-webkit-scrollbar-thumb {
    height: 30px;
    background-color: #999;
    -webkit-border-radius: 7px;
    outline: 2px solid #fff;
    outline-offset: -2px;
    border: 2px solid #fff;
}
	::-webkit-scrollbar-track-piece {
    background-color: #fff;
    -webkit-border-radius: 3px;
}

.cover .AddUserDiv ::before{
	display: inline-block;
height: 100%;
  vertical-align: middle;
	content: '';
}

@media screen and (max-width:500px){
	.cover{
		width:97%;
		
	}
	
}
	
		
